.button  {
  cursor: pointer;
  height: 37px;
  line-height: 37px;
  vertical-align: middle;
  background-color: $color-2;
  color: $color-1;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  padding: 0 25px;

  &.-textual {
    font-size: 18px;
    line-height: 18px;
    color: $color-4;
    height: 18px;
    display: inline-block;
    background-color: transparent;
    text-transform: none;
    padding: 0;
  }

  /* Shouldn't be used with the -textual option */
  &.-secondary { background-color: $color-5; }

  & > .icon {
    display: inline-block;

    &.-marginright { margin-right: 10px; }
    &.-marginleft { margin-left: 10px; }
  }

}
