/*
  .map-marker
*/

.map-marker {
  width: 100%;
  height: 100%;
  /* The transform's scale value is updated with the zoom changes */
  transform: scale(1);
  transform-origin: center center;
  transition: transform .3s;

  &.-actor  > use:first-of-type { fill: $color-7; }
  &.-actor  > use:last-of-type { fill: transparent; }
  &.-action > use:first-of-type { fill: $color-6; }
  &.-action > use:last-of-type { fill: transparent; }

  &.-secondary {
    background-color: $color-1;
    border-radius: 100%;
    cursor: default;
  }

  &.-active > use:last-of-type { stroke: $color-1; stroke-width: 2px; }
}
