.notification-badge {
  display: inline-block;
  padding: 0 10px;
  border-radius: 100px;
  height: 21px;
  line-height: 25px;
  font-size: 14px;
  color: $color-1;
  background-color: $color-5;
  text-align: center;
}
