.notification-badge {
  display: inline-block;
  padding: 0 10px;
  border-radius: 100px;
  height: 21px;
  line-height: 24px;
  vertical-align: middle;
  font-size: 14px;
  color: $color-1;
  background-color: $color-2;
  text-align: center;
}
