.popup {
  color: $color-10;

  & > .leaflet-popup-content-wrapper {
    box-shadow: none;
    border-radius: 0;

    & > .leaflet-popup-content { padding: 0px 20px 15px; }
  }

  .leaflet-popup-tip {
    box-shadow: none;
  }

  .delimiter {
    margin-top: 0;
    margin-bottom: 15px;
    border: none;
    border-top: 1px solid $color-10;
  }

  .title {
    margin-top: 20px;
    margin-bottom: 5px;
    width: calc(100% - 58px);
    color: $color-10 !important;
  }

  .more-button {
    margin: 5px auto 0 auto;
    display: block;
  }

  .close-button {
    width: 19px;
    height: 19px;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  &.-actors {
    & > .leaflet-popup-content-wrapper { background-color: $color-7; }
    .leaflet-popup-tip { border-top: 10px solid $color-7; }
    .more-button { color: $color-7; }
  }

  &.-actions {
    & > .leaflet-popup-content-wrapper { background-color: $color-6; }
    .leaflet-popup-tip { border-top: 10px solid $color-6; }
    .more-button { color: $color-6; }
  }
}
