.slider-controls {
  height: 25px;
  width: 25px;
  background-color: $color-1;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;

    // Source: http://codepen.io/aralon/pen/NqGWXZ

  > .playbutton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1px;
  }

  .play {
    width: 8px;
    height: 8px;
    display: inline-block;
    overflow: visible;
    position: relative;
  }

  .left {
    height: 100%;
    float: left;
    background-color: $color-2;
    // background-color: yellow;
    width: 38%;
    transition: all 0.25s ease;
    overflow: visible;
  }

  .triangle1 {
    transform: translate(0, -100%);
    // border-right: 12px solid blue;
  }

  .triangle2 {
    transform: translate(0, 100%);
    // border-right: 12px solid green;
  }

  .triangle1,
  .triangle2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: 8px solid $color-1;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: transform 0.25s ease;
  }

  .right {
    height: 100%;
    float: right;
    width: 33%;
    background-color: $color-2;
    // background-color: red;
    transition: all 0.25s ease;
  }

  .paused {
    .left,
    .right {
      width: 50%;
    }
    .triangle1 {
      transform: translate(0, -50%);
    }
    .triangle2 {
      transform: translate(0, 50%);
    }
  }

  .link-helper {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 4px;
    transform: translate(-50%, -50%);
  }

}
