.title {
  font-size: 20px;
  color: $color-9;
  font-weight: 400;

  &.-secondary {
    font-size: 12px;
    text-transform: uppercase;
    color: $color-4;
    letter-spacing: -.4px;
  }

  &.-tertiary {
    font-size: 18px;
    font-weight: 700;
    color: $color-4;
  }

  & > .subtitle {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
    color: $color-4;
  }
}
