.ui-slider {
  overflow: visible;
  height: 10px;
  background: $color-18;
  border: 4px solid $color-1;

  .ui-slider-range {
    background: $color-2; //background color of the selected range
  }

  .ui-slider-handle {
    border: none;
    border-radius: 50%;
    background: $color-2;
    border: 5px solid $color-1;
    height: 18px;
    width: 18px;
    top: -8px;
    margin-left: -8px;
    position: absolute;
    z-index: 0;
  }

  .sliderlabel {
    margin-left: -13px;
    margin-top: 18px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: $color-1;
  }

  #leftLabel {
    display: inline-block;
    position: absolute;
    text-align: center;
  }

  #rightLabel {
    display: inline-block;
    position: absolute;
  }

  #ball {
    position: absolute;
    background-color: $color-2;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    left: 0px;
    top: 1px;
    margin-left: 1px;

  }
}
