= link_to 'View', actor_path(location)
|  | 
= link_to 'Edit info', edit_actor_path(location)
|  | 
= link_to 'Edit membership', membership_actor_path(location)
|  | 
= link_to 'Add localization', new_actor_localization_path(location) 