= link_to t('shared.view'), actor_path(location)
|  | 
= link_to t('shared.edit_info'), edit_actor_path(location)
|  | 
= link_to t('shared.edit_relations'), membership_actor_path(location)
|  | 
= link_to t('shared.add_localization'), new_actor_localization_path(location) 