.l-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 370px;
  height: 100%;
  transform: translateX(0);
  transition: transform .3s;

  /* NOTE: temporal */
  background-color: $color-1;

  &.-hidden {
    transform: translateX(100%);

    >.toggleswitch:after { transform: rotate(180deg); }
  }

  >.toggleswitch {
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 47px;
    transform: translateX(-100%);
    background-color: rgba($color-1, .8);

    &:after {
      content: '▸';
      text-align: center;
      display: inline-block;
      width: 100%;
      line-height: 47px;
      padding-top: 3px; /* To fix the baseline of the icon */
      color: rgba($color-3, .8);
      cursor: pointer;
      transform: rotate(0deg);
      transition: transform .3s;
    }
  }
}
