.l-sidebar-filters {

  & > form {
    padding-bottom: 40px;

    /* Clearfix for the fields and buttons */
    &:after {
      content: '';
      display: table;
      clear: both;
    }

    /* Two-column grid layout for the start and end date, and the reset and apply buttons  */
    & > .form-input:nth-of-type(1),
    & > .button:first-of-type {
      float: left;
      width: calc(50% - 13px);
      margin-right: 26px;
      margin-top: 15px;
    }
    & > .form-input:nth-of-type(2),
    & > .button:last-of-type {
      float: left;
      width: calc(50% - 13px);
      margin-top: 15px;
    }

    /* We add a space between the buttons and the fields */
    & > .button { margin-top: 25px; }
  }

  .content > .searches {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center; /* Centers the button */

    & > p {
      color: $color-4;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }

    & > hr {
      border: 1px solid $color-4;
      border-bottom: none;
      margin: 30px 0 25px 0;
    }

    .highlight {
      color: $color-2;
    }
  }

  .content .notification-badge {
    margin-left: 10px;
  }

  .content .button { margin-bottom: 20px; }

}
