.l-sidebar-actor {

  /* We remove the top margin/padding of the first element inside the sidebar's
   * content because the action toolbar already have a bottom padding */
  & > .js-content > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  .grey-section {
    position: relative;
    left: -25px;
    width: calc(100% + 50px);
    padding: 20px 25px;
    margin-top: 40px;
    background-color: $color-11;

    .button {
      display: block;
      margin: 0 auto;
      margin-top: 40px;
    }
  }

}
