<h1 class="title">{{name}}</h1>
<h2 class="title -secondary">{{{t 'front.socio_cultural_domains'}}}</h2>
<h2 class="title -secondary">{{{t 'front.other_domains'}}}</h2>
<h2 class="title -secondary">{{{t 'front.relationships'}}}</h2>
