.button-collection {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  >.button { margin: 0 5px; }

  &.-formcollection {
    justify-content: center;
    padding: 30px 0;
    box-shadow: -8px -7px 5px -5px rgba($color-4, .3);
  }
}

.footer-helper {
  width: 101% !important;       // Overriding ".row" and ".row .row" styles
  max-width: 101% !important;   // Overriding ".row" and ".row .row" styles
  margin: 0 !important;         // Overriding ".row" and ".row .row" styles
}

.fixed-row {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $color-1;
  width: 101% !important;       // Overriding ".row" and ".row .row" styles
  max-width: 101% !important;   // Overriding ".row" and ".row .row" styles
  margin: 0 !important;         // Overriding ".row" and ".row .row" styles
  z-index: 1000;
}
