.nav-items {
  a {
    @include font(helvetica, small, medium, 1);
    color: $color-5;
    text-transform: uppercase;
    padding: 5px;
    border-top: 3px solid transparent;

    &.is-active {
      border-color: $color-3;
    }
  }
}
