.tabs{
  padding-right: 10px;

  .tab-title{
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    border-top: 1px solid $color-13;
    border-right: 1px solid $color-13;
    border-bottom: 1px solid $color-13;

    &:nth-of-type(1) {
      border-left: 1px solid $color-13;
    }

    &.active{
      border-bottom: none;

      a {
        @include font(helvetica, xxsmall, medium, 1);
        color: $color-10;
        background-color: $color-1;

        &:hover {
          background-color: $color-1;
        }
      }
    }

    a {
      @include font(helvetica, xxsmall, medium, 1);
      color: $color-6;
      background-color: $color-14;

      &:hover {
        background-color: #ECECEC;

        .active & {
          background-color: $color-1;
        }

      }

      .active & {
        @include font(helvetica, xxsmall, medium, 1);
        color: $color-10;
        background-color: $color-1;
      }
    }
  }

  &:before {
    content: " ";
    position: absolute;
    left: -191px;
    width: 200px;
    height: 48px;
    border-bottom: 1px solid $color-13;
  }

  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: -191px;
    width: 200px;
    height: 48px;
    border-bottom: 1px solid $color-13;
  }
}
