.tabs{
  .tab-title{
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $color-13;
    padding: 0;

    &.active{
      border-bottom: none;
      border-right: none;
      a {
        @include font(helvetica, xxsmall, medium, 1);
        color: $color-10;
      }
    }

    a {
      @include font(helvetica, xxsmall, medium, 1);
      color: $color-6;
      background-color: $color-14;

      &:hover {
        background-color: #ECECEC;
      }
    }
  }
}
