.table-container {
  width: 100%;

  >.table-row {
    height: 125px;
    border-bottom: 1px solid $color-4;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    >.data-primary {
      width: 300px;
      .data:nth-of-type(1) {
        display: block;
      }
    }

    >.data-secondary {
      .data {
        padding:10px 20px 6px;
        border: 1px solid transparent;
        position: relative;
        border-left: 1px solid $color-11;

      }

      .data:nth-of-type(3),
      .data:nth-of-type(4),
      .data:nth-of-type(5) {
        padding: 0;
        border-left: 1px solid transparent;

        a {
          padding:10px 20px 6px;


          &.-hoverlink {
            border: 1px solid transparent;
            border-left: 1px solid $color-11;
            margin-right: -3px;

            >.icon {
              padding-right: 5px;
              padding-bottom: 4px;
            }
          }

          &.-hoverlink:hover {
            background-color: $color-10;
            border: 1px solid $color-11;
          }
        }
      }
    }

    .data {
      display: inline;
      @include font(null, xxsmall, null, null);
      color: $color-4;

      a {
        color: $color-4;
      }

      &.-primary {
        @include font(null, regular, null, null);
        color: $color-3;

        a {
          color: $color-3;
        }
      }
    }

  }


}
