- if (can? :manage, Unit)
  = link_to t('units.create_unit'), new_unit_path, class: 'button -large -type-a'
  //- | &nbsp;
  //- = link_to t('users.my_acts'), user_acts_path(current_user), class: 'button -large -type-a'

