- if current_user
  = link_to t('indicators.new_indicator'), new_indicator_path, class: 'button -large -type-b'
  = link_to t('users.my_indicators'), user_indicators_path(current_user), class: 'button -large -type-b'
