body {
  @include font(helvetica, regular, light, 1);
  -webkit-font-smoothing:antialiased;
  color: $color-4;
}


input[type="checkbox"] {
  margin: 0 0.5rem 1rem 0;
  &.boolean {
    margin-right: 5px;
  }
}

h1 {
  @include font(null, xlarge, light, 1.2);
  color: $color-8;
}

h2 {
  @include font(null, large, bold, 1);
  text-transform: uppercase;
  color: $color-6;
  margin: 0;
  padding: 0;
  padding-top: 11px;

  &.form-title {
    margin-bottom: 20px;
    margin-top: 40px;
  }
}

select {
  background-color: rgba($color-15, .3);
  color: $color-11;
  border: none;
  background-image: url(asset_path("form-arrow.png"));
  background-size: 12px;
  background-position: right 20px center;
  @include font(helvetica, null, regular, null);
  font-size: 18px;

  &:disabled {
    color: $color-1;
    background-image: none;
    background-color: $color-17;
  }
}

*:not(.checkbox) > label {
  @include font(helvetica, regular, light, null);
  color: $color-4;
  line-height: 37px;
  padding: 0 !important;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type=search],
textarea,
textarea:focus {
  border: none;
  box-shadow: none;
  background: none;
  color: $color-11;
  font-size: 18px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 32px;
  @include font(helvetica, null, light, null);

  &:disabled, .-disabled {
    color: $color-16;
    background-color: $color-1;
  }
}

textarea { min-height: 150px; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"] {
  border-bottom: 1px solid $color-13;

  &:disabled, &.-disabled {
    border: none;
  }

  .searchfield & {
    border: 1px solid $color-12;
  }
}

textarea,
textarea:focus {
  background-image: url(asset_path("textarea-bg.png"));
  background-repeat: repeat;
  background-size: 1px;

  &:disabled {
    background-image: none;
  }
}

label {
  &.disabled, &:disabled {
    cursor: default;
  }
}

.current-actor,
.current-actor-edit,
.current-action,
.current-action-edit,
.current-indicator,
.current-indicator-edit {
  padding-left: 8px;
  border: none;
  box-shadow: none;
  background: none;
  color: $color-11;
  font-size: 18px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 32px;
  @include font(helvetica, null, light, null);

  border-bottom: 1px solid $color-13;

  &.-disabled {
    color: $color-16;
    background-color: $color-1;
    border: none;
  }
}

a {
  color: $color-10;
  &:hover, &:focus {
    color: $color-10;
    color: $color-10;
  }

  &.remove_fields,
  &.remove_fields_preview {
    color: $color-6;
  }
}

.text-right {
  margin-bottom: 0;
}

