$max-width-size: 1200px;
$min-width-size: 960px;

// Colors
$white:       #fff;
$black:       #000;
$dark-grey:   #4a4a4a;
$grey:        #a3a3a3;
$olive:       #a49f8e;
$white-grey:  #f1f1f1;
$d-blue:      #063460;
$blue:        #1f497f;
$l-blue:      #175ca0;

$color-1: $white;
$color-2: $black;
$color-3: $dark-grey;
$color-4: $grey;
$color-5: $olive;
$color-6: $white-grey;
$color-7: $d-blue;
$color-8: $blue;
$color-9: $l-blue;

// Typography
$m-font-size: (
  xxsmall:    14px,
  xsmall:     16px,
  small:      18px,
  regular:    21px,
  large:      36px,

);

$m-font-weight: (
  light:      300,
  regular:    400,
  medium:     500,
  bold:       700
);

$m-font-family: (
  helvetica: 'Helvetica Neue'
);
