@font-face {
  font-family: Helvetica Neue;
  src:  url(asset_path('helvetica-neue/HelveticaNeueLTCom-Roman.eot?#iefix')) format('embedded-opentype'),
        url(asset_path('helvetica-neue/HelveticaNeueLTCom-Roman.woff')) format('woff'),
        url(asset_path('helvetica-neue/HelveticaNeueLTCom-Roman.ttf'))  format('truetype'),
        url(asset_path('helvetica-neue/HelveticaNeueLTCom-Roman.svg')) format('svg');
  font-weight: 400;
}

@font-face {
  font-family: Helvetica Neue;
  src:  url(asset_path('helvetica-neue/HelveticaNeueLTCom-Md.eot?#iefix')) format('embedded-opentype'),
        url(asset_path('helvetica-neue/HelveticaNeueLTCom-Md.woff')) format('woff'),
        url(asset_path('helvetica-neue/HelveticaNeueLTCom-Md.ttf'))  format('truetype'),
        url(asset_path('helvetica-neue/HelveticaNeueLTCom-Md.svg')) format('svg');
  font-weight: 500;
}

@font-face {
  font-family: Helvetica Neue;
  src:  url(asset_path('helvetica-neue/HelveticaNeueLTCom-Bd.eot?#iefix')) format('embedded-opentype'),
        url(asset_path('helvetica-neue/HelveticaNeueLTCom-Bd.woff')) format('woff'),
        url(asset_path('helvetica-neue/HelveticaNeueLTCom-Bd.ttf'))  format('truetype'),
        url(asset_path('helvetica-neue/HelveticaNeueLTCom-Bd.svg')) format('svg');
  font-weight: 700;
}
