._hidden {
  display: none;
  visibility: hidden;
}

._grabbing { cursor: grabbing !important; }
._pointer { cursor: pointer; }
._floatleft  { float: left;  }
._floatright { float: right; }
._greyed { color: $color-4; }
