/* Colors */
$color-1: white;
$color-2: #175ca0;
$color-3: black;
$color-4: #a3a3a3;
$color-5: #d0cfcf;
$color-6: #50e3c2;
$color-7: #ff7878;
$color-8: #ce76f0;
$color-9: #0d4c88;
$color-10: #222;
$color-11: #f4f4f4;
$color-12: #1b7dd9;
$color-13: #f4f4f4;
$color-14: #979797;
$color-15: #4a4a4a;
$color-16: #777;
$color-17: #e34343;
$color-18: #002B54;
