= link_to t('shared.view'), act_path(location)
|  | 
= link_to t('shared.edit_info'), edit_act_path(location)
|  | 
= link_to t('shared.edit_relations'), membership_act_path(location)
|  | 
= link_to t('shared.add_localization'), new_act_localization_path(location) 