= link_to 'View', act_path(location)
|  | 
= link_to 'Edit info', edit_act_path(location)
|  | 
= link_to 'Edit membership', membership_act_path(location)
|  | 
= link_to 'Add localization', new_act_localization_path(location) 